#location-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 cards in width */
    gap: 20px; /* Adjust the space between cards */
    overflow-y: auto; /* Enable vertical scrolling if cards overflow */
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
   

}

.location-card {
 /* Set a fixed height for each card */
    padding: 10px 20px 15px 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Add any additional styling you want for the cards */
}


.search-container {
    padding-top: 20px;
    text-align: center; /* Align the search box to the center */
}

#searchInput {
    padding: 17px;
    border-radius: 20px; /* Add rounded corners */
    border: 1px solid #c1c1c1;
    width: 600px; /* Adjust width as needed */
    margin-bottom: 20px;
    font-size: 15px;
}

h1 {
    padding-top: 30px;
    text-align: center;
    font-size: 35px;
}

.Subtitle1{
    font-size: 25px;
    padding-left: 55px;
    padding-top: 40px;
}

.Subtitle {
    font-size: 25px;
    padding-left: 55px;
    padding-top: 40px;

}

#other-location-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4 cards in width */
    gap: 20px; /* Adjust the space between cards */
    overflow-y: auto; /* Enable vertical scrolling if cards overflow */
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    
}

.other-location-card {
    /* Set a fixed height for each card */
       padding: 10px 20px 15px 25px;
       border: 1px solid #ccc;
       border-radius: 5px;
       background-color: #f9f9f9;
       box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
       background-color: rgb(238, 238, 238);
       /* Add any additional styling you want for the cards */
   }
   